#main #page6{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(350deg,rgb(30, 60, 11),#000);
    display: flex;
    justify-content: center;
    border-bottom: 5px dashed;
}

#page6 .part1{
    position:relative;
    height: 100%;
    width: 50vw;
    padding: 0px 30px ;
    
    /* background-color: #776f6f; */
  }
  .part1 h1{
    position:relative;
    font-size: 8vw;
    letter-spacing: 10px;
    width: fit-content;
    left: 16%;
    top: 50%;
    transform: translate(-10%,-50%);
    /* background: #000;  */

  }

  .part2 h1 span {
    position: absolute;
    letter-spacing: 1.2px;
    text-decoration-style: wavy;
  }

  .part1 h2 { 

    position:absolute;
    right: 22%;
    bottom : 20%;
    width: fit-content;
    font-family:primary;
    font-size: 3.3vw;
    font-weight:900;
    letter-spacing: 5px;
    transform: translate(-50%,-50%);
    background-color:#dadada;
    color: #000;
    /* color: transparent; */
    padding: 1px 8px ;
    transform: rotate(-13deg);
/* background-color: #12c2e9; */
 }
 
 .part1 h2 img{
    position: absolute;
    top: -70%;
    left:65%;
    height: 150%;
    width: 60%;
    object-fit: cover;
    object-position: center;
    transform: rotate(30deg);
    filter: drop-shadow(5px 4px 2px rgba(0, 0, 0, 0.9));

 }
  
  #page6 .part2 {
    position:relative;
    height: 100%;
    width: 50vw;
    /* background-color: #12c2e9; */
}

 .part2 .form-style-9{
    position: absolute;
	width: 100%;
    right: 50%;
    top: 50%;
    color:#dadada;
    transform: translate(50%,-50%);
	padding: 0px 120px;
    margin-top: -1.2vw;
    /* background: #000; */
}
.form-style-9 ul{
	
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	
	padding: 16px;
    margin-top: 3vw;
	outline: none;
    border: none;
    color: #dadada;
    background-color: transparent;
    /* font-size: 16px; */
    border-bottom: 2px solid #868686;

}

.form-style-9 ul li  .field-style {
    background-color: transparent;
}


.form-style-9 ul li .field-split{
	width: 49%;

}
.form-style-9 ul li .field-full{
	width: 100%;

}
.form-style-9 ul li input.align-left{
	float:left;

}
.form-style-9 ul li input.align-right{
	float:right;

}
.form-style-9 ul li textarea{

    width: 100%;
	height: 6.25rem;
    resize: none;
    -webkit-overflow-scrolling:inherit;
    overflow-y: hidden;

 
}
.form-style-9 ul li input[type=submit]{
     /* text-decoration: underline; */
    margin-top: 3vw;
    font-size: .9vw;
    font-weight: 600;
    letter-spacing: 1.1px;  
    padding: 10px 25px;
    border:2px solid #868686;
    border-radius: 50px;
    transition:cubic-bezier(0.455, 0.03, 0.515, 0.955);
  } 
  
  .form-style-9 ul li input[type=submit]:hover{
      cursor: pointer;
      background: linear-gradient(-200deg,rgba(30, 60, 11, 0.781),rgb(3, 3, 3));
      color: #e1c3A9;
      transition:ease-out .2s;
      text-decoration: none;
  }
  .form-style-9 ul li input[type=submit]:active{
      cursor: pointer;
      /* background: linear-gradient(-200deg,rgba(255, 255, 255, 0.781),rgb(3, 3, 3)); */
      /* color: #fff; */
      transition:ease-out .2s;
      text-decoration: none;
  }

